body, html {
    background-image: url("../images/chief.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: white;
    text-emphasis: bold;
}

h1 {
    text-align: center;
    text-emphasis: bold;
    text-decoration: underline;
    color: goldenrod;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h4 {
    color: turquoise;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button:hover {
    color: grey;
    opacity: 0.5;
}

.questions-body {
    border: solid 3px grey;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: absolute;
    background-color: rgba(0, 128, 128, 0.5);
}

.choices {
    display: inline;
}

.active {
    color: white;
    background-color: rgb(9, 83, 40);
}

#submit {
    margin-bottom: 20px;
}

#restart {
    margin-bottom: 20px;
}

#timer {
    color: white;
}

